@using System.Diagnostics.CodeAnalysis
@typeparam TItem

<table class="table table-bordered table-striped table-sm">
    <thead class="table-dark">
    <tr>@TableHeader</tr>
    </thead>
    <tbody class="table-light">
    @foreach (var item in Items)
    {
        if (RowTemplate is not null)
        {
            <tr>@RowTemplate(item)</tr>
        }
    }
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment? TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    private List<TItem> _items;
    
    [Parameter, AllowNull]
    public List<TItem> Items
    {
        get => _items;
        set
        {
            if(_items == value) return;
            _items = value;
            ItemsChanged.InvokeAsync(_items);
        } }
    
    [Parameter]
    public EventCallback<List<TItem>> ItemsChanged { get; set; }
    
    
}